.celeste {
             background-color: lightblue;
        }
.rojo {
            background-color:#e65d89;
        }
.rojo_claro {
            background-color:#fcb1cf;
        }     
.verde {
            background-color: #8FB65D;
        }
.verde_claro{
	       background-color:#DFDE6A;
         }